
/* screen */
.screen{
width: 320px;
height: 240px;
background: #EDEDED;
border-width: 20px;
border-style: solid;
border-color: #333333;
}

/* buttons */
.buttons{
    width: 320px;
    background: #333333;
    border-width: 0px;
    border-style: solid;

}


