
/* screen */
.screen{
width: 364px;
height: 280px;
background: #EDEDED;
border-width: 20px;
border-style: solid;
border-color: #333333;
border-collapse: collapse;
}

/* buttons */
.buttons{
    width: 364px;
    background: #333333;
    border-width: 0px;
    border-style: solid;
    border-color: #d11414;

}



div{
    border: 0;
    border-color: #d11414;
  }