<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
   <head>
      <meta content="text/html;charset=ISO-8859-1" http-equiv=" content-type">
      <link rel="shortcut icon" type="image/x-icon" href=//www.myspeidel.com/favicon.ico">
      <title>BMPi</title>
   </head>
   <table style="text-align: left; width: 320px; height: 240px; font-family: DIN;" bgcolor="#ffffff" border="0" frame="box">
      <tbody>
         <tr>
            <td height="20" valign="middle">
               <table style="text-align: left; width: 100%;" border="0">
                  <tbody>
                     <tr valign="top">
                        <td>Main menu</td>
                        <td style="text-align:right;">18:51&nbsp;<img alt="?" height="16" width="16" src="/ledp1.bmp">&nbsp;<img alt="?" height="16" width="16" src="/ledh1.bmp">
                        </td>
                     </tr>
                  </tbody>
               </table>
               <img alt="?" height="4" width="318" src="/progress.bmp">
            </td>
         </tr>
         <tr>
            <td>
               <table style="text-align: left; width: 100%;" border="0">
                  <tbody>
                     <tr>
                        <td colspan="2" style="text-align: center;"><big><big>Speidels Braumeister<br><br></big></big>
                        </td>
                     </tr>
                     <tr>
                        <td><big><big>&nbsp;&nbsp;&nbsp;&nbsp;Temp</big></big>
                        </td>
                        <td style="text-align:right;"><big><big>999.5C&deg;&nbsp;&nbsp;&nbsp;&nbsp;</big></big>
                        </td>
                     </tr>
                     </tr>
                  </tbody>
               </table>
            </td>
         </tr>
         <tr>
            <td height="30" valign="bottom">
               <table style="text-align: left; width: 100%;" border="0">
                  <tbody>
                     <tr>
                        <td style="width:25%; text-align:center;"><img alt="?" height="40" width="40" src="/einstell.bmp"><br>
                           <small>Settings</small>
                        </td>
                        <td style="width:25%; text-align:center;">
                           <img alt="?" height="40" width="40" src="/manuell.bmp"><br>
                           <small>Manual</small>
                        </td>
                        <td style="width:25%; text-align:center;">
                           <img alt="?" height="40" width="40" src="/start.bmp"><br>
                           <small>Brewstart</small>
                        </td>
                        <td style="width:25%; text-align:center;">
                           <img alt="?" height="40" width="40" src="/rezepte.bmp"><br>
                           <small>Recipe</small>
                        </td>
                     </tr>
                  </tbody>
               </table>
            </td>
         </tr>
      </tbody>
   </table>
   </body>
</html>

