{% extends "base.html" %}
{% block title %}Terminal{% endblock %}
{% block head %}

{{ super() }}
{% endblock %}
{% block content %}
<style>#log{width:100%;height:40em;background:#eee;overflow:scroll;overflow-wrap:break-word}</style>
<div id="log"></div>
<script>
        var targetContainer = document.getElementById("log");
        const eventSource = new EventSource("/terminal_stream");
        eventSource.onmessage = function(e) {
            console.log(e.data)
            targetContainer.innerHTML += e.data + '<br>';
        };
        eventSource.onerror = function(err) {
        console.error("EventSource failed:", err);
};    
</script>
{% endblock %}
