{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block head %}

{{ super() }}
{% endblock %}
{% block content %}
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<meta content="text/html;charset=ISO-8859-1" http-equiv=" content-type">
<title>BMPi</title>
</head>
    <table style="text-align: left; width: 730px; height: 240px; font-family: DIN;" bgcolor="#ffffff" border="1" frame="box">
        <tbody>
        <tr style="text-align: center; height: 20px">
            <td id="ipaddr" colspan="2" height="40"height="10" >ip address</td>
            <td height="10" >P/H</td>
        </tr>
        <tr height="40" style="text-align: center;">
            <td colspan="2" >BMPi</td>
            <td colspan="2" >BMPi</td>
        </tr>
        <tr colspan="2" height="40" style="text-align: center;">
            <td colspan="2">Temp</td>
            <td id="temp" colspan="2">50C</td>
        </tr>  
        <tr height="40" style="text-align: center;">
            <td>button</td>
            <td>button</td>
            <td>button</td>
            <td>button</td>
        </tr>  
    <table style="text-align: left; width: 380px;" border="0">
        <tr>
            <form method="post" action="/ui">
                <button type="submit" name="key" value="/bm.txt?k=1"><img src="static/circle-96.png" alt="key 1"></button>
                <button type="submit" name="key" value="/bm.txt?k=2"><img src="static/circle-96.png" alt="key 2"></button>
                <button type="submit" name="key" value="/bm.txt?k=3"><img src="static/circle-96.png" alt="key 3"></button>
                <button type="submit" name="key" value="/bm.txt?k=4"><img src="static/circle-96.png" alt="key 4"></button>
                <button type="submit" name="key" value="/rz.txt"><img src="static/circle-96.png" alt="rz"></buttom>
            </form>
        </tr>
        <script>
            var tempContainer = document.getElementById("temp");
            var ipContainer = document.getElementById("ipaddr");

            const eventSource = new EventSource("/stream");
            eventSource.onmessage = function(e) {
                console.log(e.data)
                const obj = JSON.parse(e.data);
                if(typeof obj.target_temp !== "undefined")
                    tempContainer.innerHTML = obj.target_temp + '<br>';
                if(typeof obj.ipaddr !== "undefined")
                    ipContainer.innerHTML = obj.ipaddr + '<br>';
            };
            eventSource.onerror = function(err) {
                console.error("EventSource failed:", err);
            };    
        </script>
        <tbody>
{% endblock %}
