{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block head %}

{{ super() }}
{% endblock %}
{% block content %}
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
    <title>BMPi</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
    <table class="screen">
        <tbody>
            <tr>
                <td id="ipaddr" colspan="2" height="40"height="10" >ip address</td><td height="10" >P/H</td>
            </tr>
            <tr>
                <td colspan="2" >BMPi</td><td colspan="2" >BMPi</td>
            </tr>
            <tr>
                <td colspan="2">Temp</td><td id="temp" colspan="2">50C</td>
            </tr>
            <tfoot>
            <tr>
                <form method="post" action="/ui">
                    <td><button type="submit" name="key" value="/bm.txt?k=1"><img src="static/settings-24.svg" alt="key 1" id='settings' ></button></td>
                    <td><button type="submit" name="key" value="/bm.txt?k=2"><img src="static/hand-24.svg" alt="key 2" id='hand' ></button></td>
                    <td><button type="submit" name="key" value="/bm.txt?k=3"><img src="static/play-24.svg" alt="key 3" id='play' ></button></td>
                    <td><button type="submit" name="key" value="/bm.txt?k=4"><img src="static/menu-24.svg" alt="key 4" id='menu' ></button></td>
                </form>
            </tr>
            </tfoot>
        </tbody>
    </table>

    <div class="screen">
        <div class="divTableHeading">
            <div class="divTableRow">
                <div class="divTableHead">head1</div>
                <div class="divTableHead">head2</div>
                <div class="divTableHead">head3</div>
            </div>
        </div>
        <div class="divTableBody">
        <div class="divTableRow">
        <div class="divTableCell">cell1_1</div>
        <div class="divTableCell">cell2_1</div>
        <div class="divTableCell">cell3_1</div>
        </div>
        <div class="divTableRow">
        <div class="divTableCell">cell1_2</div>
        <div class="divTableCell">cell2_2</div>
        <div class="divTableCell">cell3_2</div>
        </div>
        </div>
        <div class="divTableFoot tableFootStyle">
        <div class="divTableRow">
        <div class="divTableCell">foot1</div>
        <div class="divTableCell">foot2</div>
        <div class="divTableCell">foot3</div>
        </div>
        </div>
        </div>
        <script>
            var tempContainer = document.getElementById("temp");
            var ipContainer = document.getElementById("ipaddr");

            const eventSource = new EventSource("/stream");
            eventSource.onmessage = function(e) {
                console.log(e.data)
                const obj = JSON.parse(e.data);
                if(typeof obj.target_temp !== 'undefined')
                    tempContainer.innerHTML = obj.target_temp + '<br>';

                if(typeof obj.ipaddr !== 'undefined')
                    ipContainer.innerHTML = obj.ipaddr + '<br>';
            };
            eventSource.onerror = function(err) {
                console.error('EventSource failed:', err);
            };    
        </script>

{% endblock %}
