<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
    <title>BMPi</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
    <body>
        <div><a href="/terminal">Terminal</a></div>
        <div><a href="/ui">UI</a></div>
        <hr>
        <table class="screen">
            <tbody>
                <tr>
                    <td class='iframe-td'>
                        <div id="container">
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <table class="table-buttons">
            <tbody class="table-body">
                <tr>
                    <td class="button-td">
                        <input type="buton" class="button" value="/bm.txt?k=1"/>
                    </td>
                    <td class="button-td">
                        <input type="buton" class="button" value="/bm.txt?k=2"/>
                    </td>
                    </td>
                    <td class="button-td">
                        <input type="buton" class="button" value="/bm.txt?k=3"/>
                    </td>
                    <td class="button-td">
                        <input type="buton" class="button" value="/bm.txt?k=4"/>
                    </td>
                </tr>
            </tbody>
        </table>
        <script>
            $(document).ready( function() {
                $('.button').click(function(event) {
                    event.stopPropagation();
                    event.stopImmediatePropagation();
                    var val = $(this).val();
                   $.ajax({
                        type : 'POST',
                        url: '/keypress',
                        contentType: 'application/json',
                        data : JSON.stringify(val)
                        }).done(function (reply) {

                   });
                });
            });

            var targetContainer = document.getElementById("container");
            const eventSource = new EventSource("/stream");
            eventSource.onmessage = function(e) {
                console.log(e.data)
                targetContainer.innerHTML = e.data;
            };
            eventSource.onerror = function(err) {
                console.error("EventSource failed:", err);
            };    


        </script>
    </body>
</html>

